<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    
    btn {
      margin-top: 10px;
      text-align: center;
    }
    
    button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #ffcda3;
      font-size: 16px;
    }
    
    
  </style>


<body>
  <h1>Sign Up</h1>
  <form action = "{{url_for("signup")}}" method = "post"> 
      <input type = "text" id = "name" placeholder = "Name" required/>
    <input type = "text" id = "username" placeholder = "Username" required/>
    <input type = "text" id = "profile_picture" placeholder = "Profile Picture" required/>
    <input type = "email" id = "personal_email" placeholder = "Personal Email" required />
    <input type = "email" id = "work_email" placeholder = "Work Email" />
    <input type = "tel" id = "cell_number" placeholder = "Cell Number" /> 
    <input type = "tel" id = "home_number" placeholder = "Home Number" />
    <input type = "tel" id = "work_number" placeholder = "Work Number" />
    <p> Home Address </p>
    <input type = "text" id = "street_address" placeholder = "Street Address" />
    <input type = "text" id = "city" placeholder = "City" />
    <input type = "text" id = "state" placeholder = "State" />
    <input type = "number" id = "zip" placeholder = "Zip Code" /> 
    
    <div class = "btn">
    <button type = "submit"> Create </button>
    </div>
  </form>
    

</body>


</html>
