<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: Sanchez;
      text-align: center;
    }



    button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #ffcda3;
      font-size: 16px;
    }


    
    #header {
     background-color: #00d0ff;
     margin: auto;
     font-family: Helvetica;
     height: 150px;
   }

   #form {
     margin: auto;
     background-color: #ffe1e1;
     padding: 20px;
     height: 900px;
     width: 800px;
     border-style: ridge;
     border-color: #ffcda3;
     border-width: 5px;
     
   }

   #inputs {
     margin-bottom: 30px;
   }

  </style>

<head>
  <title> Dinder </title>
  </head>

<body>
   <div id = "header"> 
    <img src="/static/logoDinder.png" alt="Dinder logo" height = 150px width = 500px>
  </div> 
  
  {% if error %}
  <p>{{ error }}</p>
{% endif %}


  <h2>Create An Account</h2>

      <div id = "form">
        <?php $user = $_GET['user']; ?>
    <form action = "{{url_for("signup2")}}" method = "post">
      
    <div id = "inputs">
    <input type = "hidden" id = "user" name = "user" value = "{{ user }}"  />
    <input type = "text" name = "name" id = "name" placeholder = "Name" /> 
      </div>
      
    <div id = "inputs">
    <input type = "text" name = "date_joined" id = "date_joined" placeholder = "Date Joined" /> 
      </div>
      
      <div id = "inputs">
    <input type = "text" name = "profile_picture" id = "profile_picture" placeholder = "Profile Picture" /> 
      </div>
      
      <div id = "inputs">
    <input type = "email" name = "work_email" id = "work_email" placeholder = "Work Email" /> 
      </div>
      
      <span id = "inputs">
    <input type = "tel" name="cell_number" id = "cell_number" placeholder = "Cell Number" /> 
      </span>
      
      <span id = "inputs">
    <input type = "tel" name = "home_number" id = "home_number" placeholder = "Home Number" />
      </span>
      
      <span id = "inputs">
    <input type = "tel" name = "work_number" id = "work_number" placeholder = "Work Number" />
    <h4> Home Address </h4>
          </span>
         
        <span id = "inputs">
    <input type = "text" name = "street_address" id = "street_address" placeholder = "Street Address" required />
         </span>
        
     <span id = "inputs">
       <input type = "text" name = "city" id = "city" placeholder = "City" />
         </span>
           
     <span id = "inputs">
       <input type = "text" name = "state" id = "state" placeholder = "State" /> 
         </span>
    
       <span id = "inputs">
      <input type = "number" name = "zip" id = "zip" placeholder = "Zip Code" required />
       </span>
      
        <div id = "inputs">
            <h4> Additional Information </h4>
      
      
      <div id = "inputs">
      <label> Will You Travel? <input type = "radio" id = "travelY" name = "will_travel" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "travelN" name = "will_travel" value = "N" /> <span> No </span></label>
      </div>
          
       <div id = "inputs">
      <label> Will You Carpool? <input type = "radio" id = "carY" name = "will_carpool" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "carN" name = "will_carpool" value = "N" /> <span> No </span></label>
      </div>
      
        <div id = "inputs">
      <label> Mile Radius: <input type = "number" id = "mile_radius" name = "mile_radius" placeholder = "Mile Radius" /></label>
      </div>
      
           <div id = "inputs">
      <label> Will You Host? <input type = "radio" id = "hostY" name = "will_host" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "hostN" name = "will_host" value = "N" /> <span> No </span></label>
      </div>
      
        <div id = "inputs">
      <label> Do you have a backyard? <input type = "radio" id = "backY" name = "has_back" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "backN" name = "has_back" value = "N" /> <span> No </span></label>
      </div>
          
       <div id = "inputs">
      <label> Do you have kids? <input type = "radio" id = "kidY" name = "has_kids" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "kidN" name = "has_kids" value = "N" /> <span> No </span></label>
      </div>
      
       <div id = "inputs">
      <label> Do you have other pets? <input type = "radio" id = "petY" name = "has_pets" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "petN" name = "has_pets" value = "N" /> <span> No </span></label>
      </div>
      
      <div id = "inputs">
      <label> Do you allow dropoffs? <input type = "radio" id = "dropY" name = "allows_dropoffs" value = "Y" required /> <span> Yes </span></label>
           <label> <input type = "radio" id = "dropN" name = "allows_dropoffs" value = "N" /> <span> No </span></label>
      </div>
      
   
      <button type = "submit" id = "submit" class = "button" > Submit </button>
      </form>
    
  </div>



</body>

<script>
document.getElementById('button').onclick = function() {
    var a = document.createElement('a');
    a.target = '_blank';
    user = url.searchParams.get("user");
    //location.href =  '/addDog?user' + user.value;
    var container = document.getElementById('form');
    container.appendChild(a);
}

</script>


</html>
