<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    
    .button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
    
    #header {
     background-color: #00d0ff;
     margin: auto;
     font-family: Helvetica;
     height: 150px;
   }

    
  </style>


<body>
  
  <div id = "header"> 
    <img src="logoDinder.png" alt="Dinder logo" height = 150px width = 500px>
  </div> 
  
  <h1>Welcome!</h1>


<p><a href="signup" class="button">Sign Up</a></p>
  
<p><a href="signin" class="button">Sign In</a></p>

  
</body>


</html>
